.contest-form__fieldset {
  padding: 45px 20px 0;

  border: none;
}

.contest-form__fieldset-wrapper {
  background-color: @bg-grey;
}


.contest-form__label {
  display: block;
  padding-left: 22px;

  color: @text-pink;
  text-transform: uppercase;

  &--impressions {
    padding: 0;
    margin: 0;
    width: 100%;

    text-align: center;
    font-size: 14px;
  }
}

.contest-form__label-check {
  position: relative;
  padding-left: 70px;
  margin-bottom: 52px;

  color: @text-dark-blue;
  font-size: 18px;

  &--radio {
    margin-bottom: 45px;
  }

  &::before {
    position: absolute;
    content: "";

    width: 35px;
    height: 35px;

    left: 0;
    top: -9px;

    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

.contest-form__input {
  display: block;
  max-width: 280px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 22px;
  padding: 15px 0 15px 20px;

  font-size: 18px;
  line-height: 30px;
  color: @text-dark-blue;

  border: 2px solid #e7e7e7;
  border-radius: 2px;

  &--textarea {
    width: 100%;
    margin: 15px 0 0;
    padding-bottom: 35px;

    resize: none;
  }
}

.contest-form__checkbox,
.contest-form__radio {
  display: none;
}

.contest-form__checkbox:active + .contest-form__label-check::before,
.contest-form__checkbox:checked + .contest-form__label-check::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contest-form__legend {
  padding: 37px 20px 8px;

  font-size: 14px;
  line-height: 18px;
  color: @text-pink;
  text-align: center;
  text-transform: uppercase;

  &--hidden {
    display: none;
  }
}

.contest-form__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}


.contest-form__impressions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.contest-form__submit-button {
  width: 280px;
  margin: 0 20px;
  padding: 15px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #61b98f;
    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .contest-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .contest-form__fieldset {
    margin: 0 20px;
    padding: 47px 0 50px;

    border: 2px  solid #e7e7e7;
    border-radius: 2px;

    &:first-of-type {
      border: none;
    }
  }

  .contest-form__label {
    padding-left: 0;
  }

  .contest-form__legend {
    padding: 0 24px;
    margin: 0 auto;

    &--hidden {
      display: block;
      padding: 0 30px;

      &:first-of-type {
        display: none;
      }
    }
  }

  .contest-form__name {
    order: 1;
  }

  .contest-form__fieldset-apps {
    order: 2;
  }

  .contest-form__fieldset-contacts {
    order: 3;
  }

  .contest-form__fieldset-adventures {
    order: 4;
  }

  .contest-form__impressions-wrapper {
    order: 5;
  }

  .contest-form__submit {
    order: 6;
  }

  .contest-form__submit-button {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .contest-form {
    flex-direction: row;
    justify-content: space-between;
  }
}
