.contest {
  box-sizing: border-box;
}

.contest__promo {
  padding: 46px 20px 35px;
  margin: 0 auto;

  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  &--hidden {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .contest__promo {
    padding: 92px 60px 0;

    font-size: 18px;

    &--hidden {
      display: inline;
      padding: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .contest {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .contest__promo-block {
    margin: 0 50px;
  }

  .contest__promo {
    margin: 0 auto;
    padding: 92px 40px 0;

    &--hidden {
      margin: 0;
      padding: 0;
    }
  }
}
