.contest-form__fieldset {
  padding: 45px 20px 0;

  border: none;
}

.contest-form__fieldset-wrapper {
  background-color: @bg-grey;
}


.contest-form__label {
  display: block;
  padding-left: 22px;

  color: @text-pink;
  text-transform: uppercase;
}

.contest-form__label-check {
  position: relative;
  padding-left: 70px;
  margin-bottom: 52px;

  color: @text-dark-blue;
  font-size: 18px;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";

    width: 35px;
    height: 35px;

    left: 0;
    top: -9px;

    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

.contest-form__label-radio {
  position: relative;
  padding-left: 70px;
  margin-bottom: 45px;

  color: @text-dark-blue;
  font-size: 18px;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: 0;
    top: -9px;

    background-color: @bg-white;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";

    width: 15px;
    height: 15px;
    top: 3px;
    left: 12px;

    border-radius: 50%;
    background-color: transparent;
  }
}

.contest-form__label-radio:hover::before {
  border-color: #283645;
}

.contest-form__label-radio:active::before {
  border-color: #d22856;
}

.contest-form__radio:active + .contest-form__label-radio::after,
.contest-form__radio:checked + .contest-form__label-radio::after {
  background-color: #d22856;
}

.contest-form__input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  padding: 15px 0 15px 20px;

  font-size: 18px;
  line-height: 30px;
  color: @text-dark-blue;

  border: 2px solid #e7e7e7;
  border-radius: 2px;

  &--textarea {
    width: 280px;
    margin: 15px 0 0;
    padding-bottom: 35px;

    resize: none;
  }
}

.contest-form__checkbox,
.contest-form__radio {
  display: none;
}

.contest-form__checkbox:active + .contest-form__label-check::before,
.contest-form__checkbox:checked + .contest-form__label-check::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contest-form__legend {
  padding: 37px 20px 8px;

  font-size: 14px;
  line-height: 18px;
  color: @text-pink;
  text-align: center;
  text-transform: uppercase;

  &--hidden {
    display: none;
  }
}

.contest-form__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.contest-form__impressions {

  padding-top: 30px;
  margin-bottom: 48px;
}

.contest-form__submit-button {
  width: 280px;
  margin: 0 20px;
  padding: 16px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #61b98f;
    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.contest-form__comment-wrapper {
  margin-bottom: 40px;
  padding-top: 30px;

  text-align: center;
}

.contest-form__comment {
  text-transform: uppercase;

  &--extra {
    color: @text-pink;
  }

  &--hidden {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .contest-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }


  .contest-form__fieldset {
    margin: 0 20px;
    padding: 47px 0 50px;

    border: 2px  solid #e7e7e7;
    border-radius: 2px;
  }

  .contest-form__fieldset-wrapper {
    background-color: @bg-white;
  }

  .contest-form__legend {
    margin: 0 auto;
    padding: 0 25px 0;

    &--hidden {
      display: block;
    }
  }

  .contest-form__input {
    margin: 0 0 0 18px;

    &--textarea {
      width: 500px;
      margin: 0 60px;
    }

    &--contacts {
      max-width: 500px;
      margin: 0 0 10px 0;
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        width: 60px;
        height: 58px;
        top: 2px;
        right: 2px;

        background-color: #e5e5e5;
        background-position: center;
      }
    }
  }

  .contest-form__label {
    padding-left: 0;
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    &--contacts {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-start;

      position: relative;
      margin-bottom: 30px;
    }
  }

  .contest-form__name {
    padding: 70px 0 0;

    border: none;
  }

  .contest-form__fieldset-apps-block {
    margin-bottom: 56px;
    order: 1;
  }

  .contest-form__fieldset-contacts {
    order: 2;
    margin-bottom: 56px;
  }

  .contest-form__fieldset-adventures-block {
    order: 3;
    margin-bottom: 56px;
  }

  .contest-form__impressions {
    order: 4;
  }

  .contest-form__submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 5;
    margin-bottom: 50px;
  }

  .contest-form__submit-button {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .contest-form {
    flex-direction: row;
    justify-content: space-between;
  }

  .contest-form__fieldset {
    margin: 0;
  }

  .contest-form__name {
    width: 435px;
  }

  .contest-form__fieldset-apps-block {
    width: 438px;
  }

  .contest-form__fieldset-contacts {
    width: 940px;
  }

  .contest-form__fieldset-adventures-block {
    width: 940px;
  }

  .contest-form__impressions {
    width: 940px;
  }
}
