.download__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 280px;
  margin: 0 auto;
  padding: 25px 0 30px;

  &::after {
    position: absolute;
    content: "";
    display: block;

    bottom: 270px;
    left: 50%;

    width: 256px;
    height: 286px;

    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    transform: translateX(-62%);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }
}

.download__slogan {
  margin: 0 0 343px;

  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
}

.download__button {
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 31px;
  padding: 15px 0;
  text-transform: none;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @text-white;

  border: 3px solid #ffffff;
  border-radius: 50px;

  &:hover {
    color: @text-pink;
    background-color: @bg-white;
  }

  &:active {
    color: rgba(@bg-pink, 0.3);
  }
}

.download__list {
  .reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  width: 280px;
  margin: 0 auto;
}

.download__item {
  display: flex;
  margin: 0 17px;
  align-items: flex-end;
}

.download__text {
  margin: 0 auto;
  width: 240px;
  padding: 20px 0 0;
  text-align: center;
  color: @text-white;

  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
}

@media (min-width: @tablet-width) {
  .download {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .download__wrapper {
    max-width: 300px;
    margin: 0;
    padding: 93px 0 108px 20px;

    &::after {
      width: 0;
      height: 0;

      background-image: none;
    }
  }

  .download__slogan {
    width: 225px;
    padding: 0 0 32px;
    margin: 0;

    font-size: 40px;
  }

  .download__button {
    width: 300px;
    margin: 0 0 45px;
  }

  .download__list {
    margin: 0 0 36px;
  }

  .download__text {
    width: 300px;
    padding: 0;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 65% 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .download__wrapper {
    padding: 107px 0 120px 10px;
  }

  .download__slogan {
    width: 250px;
    padding: 0;
    margin-bottom: 53px;

    font-size: 50px;
  }

  .download__button {
    margin-bottom: 66px;

    font-size: 21px;
  }

  .download__list {
    margin-bottom: 55px;
  }
}
