.footer {
  background-color: @text-white;

  &--index {
    display: none;
  }
}

.footer__wrapper {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 175px;
  margin-top: 8px;
}

.social__item {
  position: relative;

  display: block;
  width: 45px;
  height: 45px;

  color: @bg-pink;

  border: 3px solid rgba(@bg-dark-blue, 0.1);
  border-radius: 50%;

  &:hover {
    border-color: @bg-dark-blue;
  }

  &:active {
    color: rgba(@bg-pink, 0.3);
    border-color: rgba(@bg-dark-blue, 0.1);
  }
}

.social__item-image {
  position: absolute;
  content: "";

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.footer__copyright-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 130px;
}

.footer__copyright-text {
  padding-right: 15px;

  font-size: 14px;
  line-height: 18px;
  color: @bg-dark-blue;
}

.footer__copyright-image {
  color: @bg-pink;

  &:hover {
    color: @bg-dark-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    &--index {
      display: flex;
    }
  }

  .footer__wrapper {
    width: 620px;
    padding: 25px 20px 35px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    margin-bottom: 10px;
  }

  .footer__social {
    padding-top: 15px;
  }

  .footer__copyright {
    padding-top: 15px;
    margin-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 940px;
    padding: 98px 10px 70px;
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__social {
    justify-content: center;
    width: 300px;
    padding: 0;
    margin: 4px 0 0 0;
  }

  .social__item {
    margin-left: 15px;
    margin-bottom: 3px;
  }


  .footer__copyright {
    margin: 0;
    padding: 0;
  }

  .footer__copyright-link {
    width: 155px;
  }

  .footer__copyright-text {
    font-size: 18px;
  }
}
