.header {
  .center;

  color: @text-white;
  background-color: @bg-dark-blue;
}

.header__logo-block {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px 25px;

  border-bottom: 1px solid #000000;
}
