.header {
  background-color: @bg-dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 462px;
  background-position: center 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: 320px 462px;
    background-position: center 0;
  }
}

.header__title {
  width: 230px;
  padding: 30px 0 84px 0;
  margin: 0  auto;
  text-align: center;

  color: @text-white;
  font-size: 24px;
  font-weight: lighter;
}

@media (min-width: @tablet-width) {
  .header {
    background-color: @bg-dark-blue;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 729px;
    background-position: 50% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 1200px 729px;
      background-position: 50% 0;
    }
  }

  .header__title {
    width: 658px;
    padding: 70px 0 100px 0;

    font-size: 50px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    background-color: @bg-dark-blue;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 2560px 853px;
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 2560px 853px;
      background-position: 50% 0;
    }
  }

  .header__title {
    padding: 0 0 100px;
  }
}
