.intro {
  min-height: 240px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.intro__text {
  padding: 30px 20px 0 20px;
  margin: 0;

  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: @text-white;
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 394px;
    background-image: none;
  }
}
