.intro__wrapper {
  min-height: 170px;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 22%;

  &--index {
    min-height: 395px;
    background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: left bottom, center;
  }
}

.intro__text {
  padding: 30px 20px 0 20px;
  margin: 0;

  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: @text-white;
}
