.main-nav {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  background: @bg-dark-blue;

  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav--closed .main-nav__list-wrapper {
  display: none;
}

.main-nav--closed .main-navigation__toggle {
  visibility: visible;
}

.main-nav__logo-block {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;
  width: 280px;
  margin: 0 auto;
}

.main-nav__list {
  .reset-list();

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;

  border-top: 1px solid #000000;
}

.main-nav__item {
  text-align: center;

  border-top: 1px solid #4a5662;
  border-bottom: 1px solid #010101;
}

.main-nav__link {
  display: block;
  padding: 16px 0 14px;

  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: @text-white;
  text-transform: uppercase;

  &:hover {
    color: @text-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  padding: 0;
  position: relative;

  background-color: transparent;
  border: none;
  cursor: pointer;

  outline: none;

  &:hover {
    color: @bg-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav .main-navigation__toggle-image--burger {
  display: none;
}

.main-nav--opened .main-navigation__toggle-image--cross {
  display: block;
}

.main-nav--closed .main-navigation__toggle-image--cross,
.main-nav--opened .main-navigation__toggle-image--burger {
  display: none;
}

.main-nav--closed .main-navigation__toggle-image--burger {
  display: block;

  &:hover {
    color: @bg-pink;
  }
}

.main-navigation__toggle-image {
  color: #ffffff;

  &:hover,
  &:focus {
    color: @bg-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__logo-block {
    width: 620px;
    padding: 20px 20px 40px;
  }

  .main-navigation__toggle-image {
    padding-top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav--closed .main-nav__list-wrapper {
    display: block;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    width: 940px;
    margin: 0 auto;
    padding: 35px 10px 33px;
  }

  .main-nav__logo-block {
    padding: 0;
    margin: 0;
    width: auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 620px;

    border: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__link {
    padding: 10px 0;

    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    &--active {
      border-bottom: 2px solid #ffffff;
    }
  }
}
