.new-post__text {
  padding: 42px 20px;
  margin: 0;

  line-height: 30px;
  color: @text-dark-blue;
  text-align: center;
}

.post-form {
  background-color: @bg-grey;
}

@media (min-width: @tablet-width) {
  .new-post__text {
    padding-bottom: 57px;
    font-size: 18px;
  }

  .post-form {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .new-post {
    margin-bottom: 0;
  }

  .new-post__text {
    padding: 0 10px 65px;
  }

  .post-form__filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    margin-right: 60px;
  }

  .post-form__editing {
    width: 318px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-form__submit-wrapper {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-form__filters {
    width: 86px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-form__button {
    padding: 12px 0;
    width: 183px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: @text-pink;

    border-radius: 14px;
    border: 3px solid @bg-pink;
    background-color: @bg-grey;

    &--reset {
      border-color: #dddfe0;
      color: #dddfe0;
    }
  }
}
