.post-form__wrapper {
  background-color: @bg-grey;
}

.post-form__photo-wrapper {
  padding: 20px 20px 42px;
  text-align: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  padding: 0 0 25px;
}

.post-form__filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 75px;
  width: 200px;

  position: relative;
}

.post-form__label {
  color: @bg-dark-blue;

  opacity: 0.3;


  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: @bg-pink;
    opacity: 1;
  }

  &--active {
    color: @bg-pink;
    opacity: 1;
  }
}

.post-form__filter-toggle {
  display: none;
}

.post-form__range {
  position: absolute;
  top: 35px;
  left: -17px;

  width: 240px;
  min-height: 16px;
  margin: 39px auto 0;

  outline: none;
  background-color: transparent;

  appearance: none;

  &--hidden {
    display: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;

    border: 2px solid @bg-pink;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #ffffff;
    margin-top: -6px;
    cursor: pointer;
    box-sizing: content-box;
  }

  &:focus::-webkit-slider-thumb {
    background: @bg-pink;
  }

  &::-webkit-slider-runnable-track {
    width: 240px;
    height: 2px;

    cursor: pointer;

    background: @bg-dark-blue;
  }

  &::-moz-range-track {
    width: 240px;
    height: 2px;
    cursor: pointer;
    background: @bg-dark-blue;
  }

  &::-moz-range-thumb {
    border: 2px solid @bg-pink;
    border-radius: 50%;

    width: 15px;
    height: 15px;

    background: #ffffff;
    cursor: pointer;
  }

  &:focus::-moz-range-thumb {
    background: @bg-pink;
  }

  &::-ms-thumb {
    margin-top: 8px;
    width: 15px;
    height: 15px;

    background: #ffffff;
    border: 2px solid @bg-pink;
    border-radius: 50%;
    cursor: pointer;
  }

  &:focus::-ms-thumb {
    background: @bg-pink;
  }

  &::-ms-track {
    width: 240px;
    height: 2px;
    cursor: pointer;

    background: 0 0;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &::-ms-fill-upper {
    background: @bg-dark-blue;
  }

  &::-ms-fill-lower {
    background: @bg-dark-blue;
  }
}

.post-form__submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px 0 0;
  border-top: 1px solid #dddfe0;
}

.post-form__button {
  box-sizing: border-box;
  width: 280px;
  padding: 15px 0;
  margin-bottom: 12px;
  background-color: transparent;

  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  border: 3px solid;
  outline: none;

  &--post {
    color: @text-pink;

    border-color: @bg-pink;

    &:hover {
      color: @text-white;

      background-color: @bg-pink;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--reset {
    color: #dddfe0;

    border-color: #dddfe0;

    opacity: 0.9;

    &:hover {
      border-color: #b5b9be;

      color: #b5b9be;
    }

    &:active {
      background-color: #b5b9be;
      border-color: #b5b9be;

      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: @tablet-width) {
  .post-form {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .post-form__wrapper {
    padding: 0 20px 55px;
  }

  .post-form__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 660px;
    margin: 0 auto;
  }

  .post-form__photo-wrapper {
    padding: 55px 0 0 0;
    width: 300px;
    height: 400px;
  }

  .post-form__photo {
    width: 300px;
    height: 400px;
    padding: 0;
  }

  .post-form__filters-wrapper {
    display: flex;
    flex-direction: column;
    padding: 65px 0 0 0;
    margin: 0;
    width: 260px;
  }

  .post-form__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 258px;
    margin: 0 0 25px;
    padding-bottom: 20px;

    border-bottom: 1px solid #dddfe0;
  }

  .post-form__filter-icon {
    width: 24px;
    height: 22px;

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .post-form__range {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    margin: 0;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      display: block;
    }
  }

  .post-form__submit-wrapper {
    border: none;
  }

  .post-form__button {
    width: 260px;
    margin: 0;

    &--post {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: @desktop-width) {
  .post-form__wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  .post-form {
    width: 390px;
  }

  .post-form__container {
    max-width: 100%;
    margin: 0;
    padding: 56px 80px;
  }

  .post-form__photo-wrapper {
    padding: 0;
  }

  .post-form__filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    padding: 0;
  }

  .post-form__editing {
    width: 318px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-form__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  .post-form__label {
    color: #d22856;
    opacity: 1;
  }

  .post-form__filter-icon {
    width: 48px;
    height: 48px;

    &--contrast {
      width: 32px;
      height: 32px;
      margin-left: 6px;
    }

    &--fill {
      width: 48px;
      height: 44px;
    }
  }

  .post-form__range {
    width: 290px;
  }

  .post-form__submit-wrapper {
    flex-direction: row;
  }

  .post-form__button {
    padding: 15px 0;
    margin: 0;
    width: 183px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: @text-pink;

    border-radius: 50px;
    border: 3px solid @bg-pink;
    background-color: @bg-grey;

    &--reset {
      border-color: #dddfe0;
      color: #dddfe0;
    }
  }
}
