.post-form__wrapper {
  padding: 20px;
  background-color: @bg-grey;
}

.post-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .post-form__wrapper {
    padding: 58px 20px 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .post-form__photo {
    width: 300px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .post-form__wrapper {
    margin: 0 10px;
    padding: 57px 60px 57px 80px;
  }

  .post-form__filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    margin-right: 60px;
  }

  .post-form__editing {
    width: 318px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-form__submit-wrapper {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-form__filters {
    width: 86px;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-form__button {
    padding: 12px 0;
    width: 183px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: @text-pink;

    border-radius: 14px;
    border: 3px solid @bg-pink;
    background-color: @bg-grey;

    &--reset {
      border-color: #dddfe0;
      color: #dddfe0;
    }
  }
}
