.rate {
  padding: 95px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: @bg-grey;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.rate__table {
  text-transform: uppercase;
  border-collapse: collapse;
}

.rate__name {
  box-sizing: border-box;
  min-width: 280px;
  height: 96px;

  color: @text-white;
  font-size: 18px;
  text-align: center;

  background-color: #283645;
  border: 2px solid #283645;
  border-right-color: #ffffff;

  &--hit {
    position: relative;

    &::before {
      position: absolute;
      content: "";

      width: 73px;
      height: 70px;

      top: -2px;
      left: 0;

      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      position: absolute;
      content: "Хит";

      top: 15px;
      left: 10px;
      transform: rotate(-45deg);

      font-size: 14px;
      font-weight: lighter;
      text-transform: uppercase;
    }
  }

  &--hidden {
    background-color: #f2f2f2;
    border: none;
  }
}

.rate__price {
  display: block;

  font-size: 24px;
  font-weight: lighter;
}

.rate__item {
  position: relative;
  min-width: 280px;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;

  background-color: @bg-white;
  border: 2px solid #e5e5e5;

  &--yes::after {
    position: absolute;
    content: "";

    width: 27px;
    height: 26px;

    right: 19px;
    top: 15px;

    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-size: 27px 26px;
    background-position: center;
  }

  &--no::after {
    position: absolute;
    content: "";

    width: 27px;
    height: 26px;

    right: 19px;
    top: 15px;

    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rate__toggles {
  text-align: center;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rates__radio {
  display: none;
}

.rates__radio-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background-color: #bec2c7;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.rates__radio:checked + .rates__radio-bullet {
  width: 11px;
  height: 11px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 2px solid #283645;
  border-radius: 50%;
  cursor: pointer;
}
