.rate {
  padding: 125px 0 47px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: @bg-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
}

.rate__table {
  border-collapse: collapse;
  background-color: #ffffff;
}

.rate__name {
  box-sizing: border-box;
  min-width: 280px;
  padding: 18px 0;

  color: @text-white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: @bg-dark-blue;
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-right-color: #ffffff;

  &--hit {
    position: relative;

    &::before {
      position: absolute;
      content: "";

      width: 73px;
      height: 70px;

      top: 0;
      left: 0;

      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      position: absolute;
      content: "Хит";

      top: 10px;
      left: 10px;
      transform: rotate(-45deg);

      font-size: 14px;
      line-height: 30px;
      font-weight: lighter;
      text-transform: uppercase;
    }
  }

  &--hidden {
    display: none;

    border: none;
  }
}

.rate__price {
  display: block;

  font-size: 24px;
  font-weight: lighter;
}

.rate__item {
  position: relative;
  min-width: 255px;
  height: 61px;
  padding: 15px 23px;
  box-sizing: border-box;
  text-transform: uppercase;

  border: 2px solid #e5e5e5;

  &--yes::before {
    position: absolute;
    content: "";

    top: 61%;
    left: 83%;
    width: 15px;
    height: 3px;

    background-color: #3dc644;
    transform: rotate(45deg);
  }

  &--yes::after {
    position: absolute;
    content: "";

    top: 54%;
    left: 86%;
    width: 31px;
    height: 3px;
    background-color: #3dc644;
    transform: rotate(-47deg);
  }

  &--no::after {
    position: absolute;
    content: "";

    width: 27px;
    height: 27px;

    right: 19px;
    top: 15px;

    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--hidden {
    display: none;
  }
}

.rate__toggles {
  text-align: center;
  margin-top: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rates__radio {
  display: none;
}

.rates__radio-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  background-color: #bec2c7;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.rates__radio:checked + .rates__radio-bullet {
  width: 11px;
  height: 11px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 2px solid #283645;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .rate {
    padding: 110px 20px 70px;
  }

  .rate__name {
    min-width: 155px;
    padding: 13px 0 8px;
    font-size: 16px;

    &--hit::before {
      width: 60px;
      height: 60px;

      background-image: url("../img/bg-hit-tablet.svg");
    }

    &--hit::after {
      top: 6px;
      left: 6px;
    }

    &--hidden {
      display: table-cell;
      background-color: #f2f2f2;
      border: none;
    }
  }

  .rate__price {
    font-size: 18px;
  }

  .rate__item {
    min-width: 155px;
    height: 46px;
    font-size: 0;

    &--no::after {
      right: 61px;
      top: 9px;
    }

    &--yes::before {
      top: 52%;
      left: 40%;
    }

    &--yes::after {
      left: 44%;
      top: 40%;
    }

    &--hidden {
      display: table-cell;
      font-size: 14px;
      text-transform: none;
      padding: 0 15px;
    }
  }

  .rate__item-text {
    visibility: hidden;
  }

  .rate__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .rate {
    padding: 168px 0 94px;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }

  .rate__name {
    min-width: 234px;
    height: 98px;
    padding: 5px 0 8px;

    font-size: 18px;

    &--hit::before {
      width: 71px;
      height: 71px;
    }

    &--hit::after {
      top: 10px;
      left: 10px;
    }
  }

  .rate__price {
    font-size: 24px;
    font-weight: lighter;
  }

  .rate__item {
    min-width: 236px;
    height: 60px;

    &--hidden {
      font-size: 18px;
      padding: 0 25px;
    }

    &--no::after {
      right: 103px;
      top: 16px;
    }

    &--yes::before {
      top: 60%;
      left: 43%;
    }

    &--yes::after {
      left: 46%;
      top: 48%;
    }
  }
}
