.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    position: relative;
    padding: 60px 0;

    /*background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 238px 276px;
    background-position: 106px 56px;*/
  }

  .research__clocks__wrapper {
    position: relative;

    &::before {
      position: absolute;
      content: "";

      width: 177px;
      height: 177px;

      bottom: 23px;
      left: 40px;

      background-position: center;
      background-color: @bg-white;
      border: 12px solid @bg-pink;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      content: "24";

      left: 83px;
      top: 92px;

      font-size: 96px;
      font-weight: 700;

      color: @text-pink;
    }
  }

  .research__clocks {
    color: #dedede;
    width: 238px;
    height: 276px;
    padding-left: 20px;
  }

  .research__block {
    display: flex;
    justify-content: space-between;
  }

  .research__information {
    display: flex;
    flex-direction: column;
    margin-left: 71px;
  }

  .research__title {
    margin: 0 0 10px;
    padding-top: 36px;
    width: 170px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .research__text {
    margin: 0 0 10px;
    padding-right: 25px;

    line-height: 24px;
  }

  .research__link {
    line-height: 24px;
    color: @text-pink;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .research {
    padding: 30px 0 64px;

    background-color: #f2f2f2;
  }

  .research__clocks__wrapper {
    &::before {
      position: absolute;
      content: "";

      width: 220px;
      height: 220px;

      bottom: 26px;
      left: 33px;

      border: 16px solid @bg-pink;
    }

    &::after {
      left: 90px;
      top: 118px;

      font-size: 120px;
      font-weight: 700;

      color: @text-pink;
    }
  }

  .research__clocks {
    width: 298px;
    height: 345px;
    padding-left: 10px;

    color: #dedede;
  }

  .research__information {
    width: 584px;
    margin-left: 55px;
  }

  .research__title br {
    display: none;
  }

  .research__title {
    width: 100%;
    padding-top: 95px;
    margin-bottom: 25px;

    line-height: 30px;
  }

  .research__text {
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
