.reviews {
  padding: 46px 0 6px;

  text-align: center;
}

.reviews__list {
  display: none;

  &--active {
    display: block;
  }
}

.reviews__author {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;

  &--character {
    display: none;
  }
}

.reviews__text {
  padding: 0 20px;
  margin: 0 auto 33px;
  max-width: 280px;

  line-height: 30px;
}

.reviews__button {
  display: none;
}

.reviews__toggles {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73px;
  margin: 0 auto;
}

.reviews__radio {
  display: none;
}

.reviews__radio-bullet {
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0 5px;
  background-color: #bec2c7;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.reviews__radio:checked + .reviews__radio-bullet {
  width: 11px;
  height: 11px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 2px solid #283645;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding: 35px 0 0;
    position: relative;
  }

  .reviews__list {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }

  .reviews__author {
    order: 1;
    margin-bottom: 17px;

    font-size: 20px;

    &--character {
      display: block;
      order: 2;
      margin-top: 13px;
      margin-bottom: 22px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .reviews__text {
    margin: 0 0 38px;

    max-width: 620px;

    font-size: 18px;
  }

  .reviews__toggles {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 187px 0 45px;
  }

  .reviews__list {
    position: relative;
    padding: 0 115px;

    &::before {
      position: absolute;
      content: "";

      width: 79px;
      height: 63px;

      top: -115px;
      left: 50%;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);
    }
  }

  .reviews__author {
    margin-bottom: 0;

    font-size: 24px;

    &--character {
      margin: 7px 0 0;

      font-size: 18px;
    }
  }

  .reviews__text {
    max-width: 100%;
    margin-bottom: 37px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__button {
    display: block;
    position: absolute;

    width: 28px;
    height: 50px;

    top: 210px;

    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;

    &--left {
      left: 5px;
    }

    &--right {
      right: 10px;
    }
  }

  .reviews__button-icon {
    color: @bg-dark-blue;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
